<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.customer.mapper.CustomerMapper">

	<!--  -->
  <insert id="insertCustomer" parameterType="Customer">
    INSERT INTO CUSTOMER
    VALUES(SEQ_CUSTOMER_NO.NEXTVAL, #{customerName}, #{customerTel}, #{customerAddress})
    <!-- 3. 전달 받은 파라미터가 DTO 또는 Map인 경우
 		  SQL에 필드명 또는 key 값을 작성하면 된다 -->
  </insert>
  
</mapper>
