<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수정 페이지</title>
</head>
<body>
    
  <h4>할 일 수정</h4>
  
  <form action="/todo/update" method="post" id="updateForm">
    <div>
      제목 : <input type="text" name="todoTitle" th:value="${todo.todoTitle}">
    </div>
    <div>
      <textarea name="todoDetail" 
        rows="3" cols="50" placeholder="상세 내용"
        th:text = "${todo.todoDetail}"></textarea>
    </div>

    <button>수정</button>
    <input type="hidden" name="todoNo" th:value="${todo.todoNo}">
  </form>

  <c:if test="${not empty sessionScope.message}">
    <script>
      alert("${message}");
    </script>
    
    <c:remove var="message" scope="session" />
  </c:if>
</body>
</html>